input::placeholder {
  color: rgb(200, 191, 191) !important;
  opacity: 0.1;
} 

 body {
      background: linear-gradient(to bottom right, #58c4f6, #5c9df5);
      background-image: url(../img/background-dynamic.gif);
      background-repeat: no-repeat;
      background-size: cover;
      font-family: 'Poppins', sans-serif;
      color: white;
}



header h1 {
  color: white;
  margin-bottom: 0.2rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

#currentDate {
  color: white;
  margin-top: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

button#getWeather {
      height: 48px;
      border-radius: 12px;
      color: black;
      background-color: white;
      font-weight: bolder;
    }

 .btn-primary:hover {
  background-color: #4a90e2 !important; 
  box-shadow: 0 4px 12px rgba(231, 223, 223, 0.2); 
  transition: all 0.3s ease;
}

.weather-today {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 20px;
      backdrop-filter: blur(10px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;
    }

.forecast-box {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 20px;
      backdrop-filter: blur(10px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      padding: 1.5rem;
      color: white;
    }

.forecast-day .details {
  display: flex;
  flex-direction: column;
  gap: 0.50rem;

}
.forecast-day {
  background-color: #abb4c7; /* or any dark color */
  border-radius: 10px;
  color: white;
}


input#city {
      border-radius: 12px;
      height: 48px;
    }
.details{
  color: white;
}
.forecast-day .small {
  color: white;
}

